{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<h1 class="text-center">Nos produits phares</h1>
	<div class="row">
		{% for product in products %}
			<div class="col-sm-6">
				{% include "product/_product_card.html.twig" with {'p': product} %}
			</div>
		{% endfor %}
	</div>
	<hr>
	<h2 class="text-center">Un service irreprochable</h2>
	<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et explicabo nemo nulla optio ratione,
		voluptatum!</p>

	<div class="row my-5">
		{% include "shared/_assurance.html.twig" with {
			'color': 'primary',
			'icone': 'fas fa-truck',
			'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et explicabo nemo nulla optio ratione, voluptatum!"
		} %}
		{% include "shared/_assurance.html.twig" with {
			'color': 'success',
			'icone': 'fas fa-check',
			'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et explicabo nemo nulla optio ratione, voluptatum!"
		} %}
		{% include "shared/_assurance.html.twig" with {
			'color': 'warning',
			'icone': 'fas fa-lock',
			'text': "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et explicabo nemo nulla optio ratione, voluptatum!"
		} %}
	</div>
<hr>
{% endblock %}



